<!DOCTYPE html>
<html>
<head>
    <title>Инструкция по использованию</title>
</head>
<body>
    <h1>Инструкция по использованию</h1>
    <ul>
        <li>Чтобы запустить загрузку файлов допишите <b>/upload_files/</b> к пути. Например, http://localhost:8000/upload_files/</li> 
        <li>Чтобы вывести полный список песен допишите <b>/songs/</b>. Например, http://localhost:8000/songs/</li>
        
            <ul>
                <li>Чтобы произвести поиск песни с нужным параметром в url допишите к /songs/ <b>?имя_параметра=значение_параметра</b>. Например, http://localhost:8000/songs/?composer=Александр</li>
                <li>Для поиска по нескольким параметрам допишите к /songs/ <b>?имя_параметра=значение_параметра&имя_параметра=значение_параметра</b>. Например, http://localhost:8000/songs/?composer=Александр&name=Ширингуши</li>
            
        </li>
    </ul>
</body>
</html>
